<div>
    <div>
        {{#if user}}
        <h1>Bienvenido {{user.first_name}}</h1>
        <h5>Nombre: {{user.first_name}} </h5>
        <h5>Apellido: {{user.last_name}}</h5>
        <h5>Edad: {{user.age}}</h5>
        <h5>Email: {{user.email}}</h5>
        <h5>Role: {{user.role}}</h5>
        {{/if}}
    </div>
    <button id="logout"> Log out </button>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/session.js"></script>